.card-blog {
    width: 360px;
    height: 150px;;
    display: inline-block;
    float: left;
    margin: 20px;
    box-shadow: 10px 10px 5px #888888;
    border-radius:8px;
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
}
.card-blog .summary {
    height: 50px;
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
}
/*.card-blog:hover {*/
    /*height: 210px;*/
/*}*/
/*.card-blog .summary:hover{*/
    /*height: 110px;*/
/*}*/
.card-blog ul {
    display: inline-block;

}
.card-blog ul li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 2px;
    padding: 2px;;
}


.sort-type li {
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin:8px 5px;
    padding: 6px 15px;
    text-align: center;
}
.sort-type li:hover {
    color: white;
    background-color: #444444;
    cursor: pointer;
    border-radius: 4px;
}
/*使分页选择区居中*/
nav .pagination {
    text-align: center;
    display:table;
     margin:0 auto;
}

/*消除浮动的影响*/
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}