.container-box {
	/*background-image: url(../img/2.jpg);*/
	background-repeat: no-repeat;
	/*background-color: rgba(8, 23, 44, 0.25);*/
	/*background-repeat:no-repeat;
	    filter:alpha(opacity=50);  
	-moz-opacity:0.5;  
	-khtml-opacity: 0.5;  
	opacity: 0.5;  */
	animation: fadeIn 1s forwards;
	background-position: center top;
	background-size: cover;

}
.container-box .row {
	padding: 20px 50px;
}
.container-box .left {
	color: #FFFFFF;
	font-weight: bold;
	border: solid 2px #d9d9d9;
	border-radius: 5px;
	padding: 2px 1px;
	/*width: 240px;*/
	height: 520px;
	/*float: left;*/

	transition: width 1s, border 1s;
	-moz-transition: width 2s,border 2s;	/* Firefox 4 */
	-webkit-transition: width 1s, border 1s;	/* Safari 和 Chrome */
	-o-transition: width 2s, border 2s;	/* Opera */
}


.container-box  .left  ul li {
	list-style-type: none;
	text-align: center;
	padding: 2px 3px;
	border-bottom: solid 1px #d9d9d9;
}
.container-box  .zoom-out {
	width: 30px;
	/*border: none;*/
}

.container-box  .left  ul li a {
	color: #2F2F2F;
	font-weight: bold;
}
.container-box .left  ul li a:hover {
	border-radius: 7px;
	/*box-shadow: 5px 5px 3px #888888;*/
	background-color: rgba(244, 148, 132 , 0.55);
	color: #FFFFFF;
}

#left-nav-bt {
	position: absolute;
	top: 240px;
	right: 0px;
	width: 30px;
	height: 20px;
	border-radius: 2px;
	text-align: center;
	padding: 2px 3px;
	color: rgb(244, 148, 132);
}
#left-nav-bt:hover {
	cursor: pointer;
	background-color: rgba(244, 148, 132 , 0.85);
	color: #FFFFFF;
}

#left-nav-bt .show {
	left: -10px;
}

.container-box  .contents {
	/*float: right;*/
	border: solid 2px #d9d9d9;
	border-radius: 3px;
}

.container-box header {
	margin:20px;
}
.container-box header .header-info {
	float: right;
}

.container-box header.page-header h3 {
	text-align: center;
}

#blog-list .card-blog {
	cursor: pointer;
}

/*博客书写模块样式*/
#blog-editor form .summary{
	height: 65px;
}

#blog-editor form .article-type-form {
	margin-top: 25px;;
}